#standard git ignore file for my various repositories
#created by: Andy Newman
#first version: 05 Sept 2013

#no .a or .o files
*.[oa]

#no .mod files
*.mod

#no text editor temp files
*~

#no zip files
*.gz
*.tgz
*.tar

#not the bin directory
bin/

#
Users/

#not the driver/old or driver/hru
driver/old
driver/hru
driver/hru_const_parm

#no text files in driver or share directory
driver/*.txt
share/*.txt
